.row
  =link_to 'Add a new social media site', new_admin_social_media_site_path, class: 'button radius'
  - @social_media_sites.each do |sms|
    %h3
      = link_to "#{sms.site_name}", sms.link
      = render 'shared/index_of_objects', object: sms