%h1.row Add a new social media site
.row
  = form_for [:admin, @social_media_site] do |f|
    = f.select :site_name, %w(Name/Type facebook instagram tumblr twitter)
    = f.text_field :link, placeholder: 'Link'
    = f.submit 'Save', class: 'button radius'
