%ul.no-bullets
  - @videos.each do |video|
    %li#indiv-video
      - embed_link = youtube_embed(video.link)
      .flex-video    
        %iframe{allowfullscreen: "", frameborder: "0", height: "315", src:"#{embed_link}", width: "420"}
    

