#pic
  = image_tag('tree.png')

.row
  %h3.small-centered.medium-centered#contact-info
    SAMORA
    %br/
    ABAYOMI
    %br/
    PINDERHUGHES
    %hr
    %ul.contact-icons-medium 
      / %li=link_to 'MAIL',      "mailto: samoraabayomi@gmail.com"
      / %li=link_to 'TWITTER',   "https://twitter.com/samoraabayomi"
      / %li=link_to 'INSTAGRAM', "http://instagram.com/samoraabayomi"
      / %li=link_to 'TUMBLR',    "http://samoraabayomi.tumblr.com/" 
      %li
        =link_to "mailto: samoraabayomi@gmail.com" do
          %i.fi-mail
      %li
        =link_to "https://twitter.com/samoraabayomi" do
          %i.fi-social-twitter
      %li
        =link_to "http://instagram.com/samoraabayomi" do
          %i.fi-social-instagram
      %li
        =link_to "http://samoraabayomi.tumblr.com/" do 
          %i.fi-social-tumblr  
      / %li  
      /   %a{href: "mailto: samoraabayomi@gmail.com"}
      /     %i.fi-mail.medium 
      /   %a{href: "https://twitter.com/samoraabayomi"}
      /     %i.fi-social-twitter.medium
      /   %a{href: "http://instagram.com/samoraabayomi"}
      /     %i.fi-social-instagram.medium
      /   %a{href: "http://samoraabayomi.tumblr.com/"}
      /     %i.fi-social-tumblr.medium