#pic= image_tag('tree.png')

%h3
  SAMORA
  %br/
  ABAYOMI
  %br/
  PINDERHUGHES
  %br/
  %ul{style: 'list-style:none'} 
    / %li=link_to 'MAIL',      "mailto: samoraabayomi@gmail.com"
    / %li=link_to 'TWITTER',   "https://twitter.com/samoraabayomi"
    / %li=link_to 'INSTAGRAM', "http://instagram.com/samoraabayomi"
    / %li=link_to 'TUMBLR',    "http://samoraabayomi.tumblr.com/" 
    %li
      =link_to "mailto: samoraabayomi@gmail.com" do
        %i.fi-mail.large
    %li
      =link_to "https://twitter.com/samoraabayomi" do
        %i.fi-social-twitter.medium
    %li
      =link_to "http://instagram.com/samoraabayomi" do
        %i.fi-social-instagram.small
    %li
      =link_to "http://samoraabayomi.tumblr.com/" do 
        %i.fi-social-tumblr  
    %li  
      %a{href: "mailto: samoraabayomi@gmail.com"}
        %i.fi-mail 
      %a{href: "https://twitter.com/samoraabayomi"}
        %i.fi-social-twitter
      %a{href: "http://instagram.com/samoraabayomi"}
        %i.fi-social-instagram
      %a{href: "http://samoraabayomi.tumblr.com/"}
        %i.fi-social-tumblr