.row
  =link_to 'Add a new soundcloud track', new_admin_track_path, class: 'button radius'
  - @tracks.each do |track|
    %h3
      = track.name
      = render 'shared/index_of_objects', object: track
    = render inline: track.link
