.row=link_to 'Add a new soundcloud track', new_admin_track_path, class: 'button radius'

%ul.row
  - @tracks.each do |track|
    %li
      %h6
        = track.name
      = link_to 'edit', edit_admin_track_path(track)
      = link_to 'remove', admin_track_path(track), method: :delete
      %br
      = render inline: track.link
