---
title: Samora Pinderhughes | Watch
---

<!DOCTYPE html %>
<html>
	{% include head.html %}
	<body class="watch">
		<div class="container">
			<div class="nav">
				<a href="index.html">
					<img src="/images/samora.png" alt="Samora Pinderhughes">
				</a>
				<div class="nav-container">
					<div class="nav-select">
						<a href="about.html">
							ABOUT
						</a>
					</div>
					<div class="nav-select">
						<a href="calendar.html">
							CALENDAR
						</a>
					</div>
					<div class="nav-select">
						<a href="listen.html">
							LISTEN
						</a>
					</div>
					<div class="nav-select active">
						<a href="watch.html">
							WATCH
						</a>
					</div>
					<div class="nav-select">
						<a href="contact.html">
							CONTACT
						</a>
					</div>
				</div>
			</div>
			<div class="watch-image"></div>
			<div class="info-container">
				{% include video.html %}
			</div>
			<div class="designed-by">
				built by <a href="mailto:kevinshsieh@gmail.com" class="contact-kevin">kevin hsieh</a>
			</div>
		</div>
	</body>
</html>
