#event-pic {
  width: 42em;
  background-size: cover;
  display: inline-block;
  // background-image: url(samora-pages.png) no-repeat;
}

.events{
  width: 45%;
  float: right;
  // display: inline-block;
  padding: 2.5em 2.5em 2.5em 2.5em;
  text-align: justify;
}

#indiv-event{
  margin-bottom: 1em;
}