a:hover {
  color: #000;
  background-color: #ffffff;
}

ul.main-menu {
  list-style: none;
  text-align: center; 
}

.show-for-small-only ul.main-menu{
  margin-top: .5em;
  text-align: center; 
  font-size: 1.25em;
  li{
    display: inline;
  }
}

ul.icon-list{
    margin-top: -1em;
    text-align: center;
    li { 
    font-size: 2em;
    list-style: none;
    display: inline;
  }
}

#samora-icon img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.no-bullets{
  list-style: none;
}

.button{
  background-color: #570B0B;
  // color: #009933;
}

.button:hover {
  background-color: #B51F1F;
}