%h1.row Add a new blog
.row
  = form_for [:admin, @blog] do |f|
    = f.text_field :title, placeholder: 'Title'
    = f.text_area  :entry, placeholder: 'Entry', rows: 15, cols: 1
    = f.submit 'Save', class: 'button radius'