.row
  =link_to 'Add a new video', new_admin_video_path, class: 'button radius'
  - @videos.each do |video|
    %h3
      = video.title
      = render 'shared/index_of_objects', object: video
    = render inline: video.link