.row=link_to 'Add a new video', new_admin_video_path, class: 'button radius'

%ul.row
  - @videos.each do |video|
    %li
      = video.title
      = link_to 'edit', edit_admin_video_path(video)
      = link_to 'remove', admin_video_path(video), method: :delete
      %br
      = render inline: video.link