%h1.row Add a new song video
.row
  = form_for [:admin, @video] do |f|
    = f.text_field :title, placeholder: 'Title'
    = f.text_field :link, placeholder: 'Link'
    = f.submit 'Save', class: 'button radius'