= render 'shared/head'
%body 
  %nav.top-bar(data-topbar)
    %ul.title-area 
      %li.name
        %h1 
          %a{:href => "#"}Pinderhughes(Admin)
    %section.top-bar-section 
      %ul.left 
        %li=link_to 'Music', '#'
        %li=link_to 'Videos', '#'
        %li=link_to 'Blog Posts', '#'
      %ul.right 
        %li.has-dropdown
          =link_to 'My Profile', '#'
          %ul.dropdown
            %li=link_to 'Bio', '#'
            %li=link_to 'Social', '#'
        %li=link_to 'Log Out', '#'
  = yield
  = javascript_include_tag "application"